USE [master]
GO
/****** Object:  Database [TallerMecanico]    Script Date: 1/10/2026 20:09:35 ******/
CREATE DATABASE [TallerMecanico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TallerMecanico', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TallerMecanico.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TallerMecanico_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TallerMecanico_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TallerMecanico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TallerMecanico]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/10/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 1/10/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Paterno] [varchar](50) NOT NULL,
	[Materno] [varchar](50) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Correo] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 1/10/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Paterno] [nvarchar](50) NOT NULL,
	[Materno] [nvarchar](50) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](100) NULL,
	[Telefono] [nvarchar](20) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenesServicio]    Script Date: 1/10/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesServicio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaIngreso] [datetime2](7) NOT NULL,
	[DescripcionProblema] [nvarchar](max) NOT NULL,
	[CostoEstimado] [decimal](10, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[VehiculoId] [int] NOT NULL,
	[TipoServicioId] [int] NOT NULL,
 CONSTRAINT [PK_OrdenesServicio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenServicio]    Script Date: 1/10/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenServicio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[DescripcionProblema] [varchar](max) NOT NULL,
	[CostoEstimado] [decimal](10, 2) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[VehiculoId] [int] NOT NULL,
	[TipoServicioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoServicio]    Script Date: 1/10/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoServicio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[PrecioBase] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoServicios]    Script Date: 1/10/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoServicios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[PrecioBase] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_TipoServicios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 1/10/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [varchar](10) NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Anio] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 1/10/2026 20:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [nvarchar](10) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
	[Modelo] [nvarchar](50) NOT NULL,
	[Anio] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
 CONSTRAINT [PK_Vehiculos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrdenesServicio_TipoServicioId]    Script Date: 1/10/2026 20:09:35 ******/
CREATE NONCLUSTERED INDEX [IX_OrdenesServicio_TipoServicioId] ON [dbo].[OrdenesServicio]
(
	[TipoServicioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrdenesServicio_VehiculoId]    Script Date: 1/10/2026 20:09:35 ******/
CREATE NONCLUSTERED INDEX [IX_OrdenesServicio_VehiculoId] ON [dbo].[OrdenesServicio]
(
	[VehiculoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehiculos_ClienteId]    Script Date: 1/10/2026 20:09:35 ******/
CREATE NONCLUSTERED INDEX [IX_Vehiculos_ClienteId] ON [dbo].[Vehiculos]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrdenServicio] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[OrdenServicio] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[OrdenesServicio]  WITH CHECK ADD  CONSTRAINT [FK_OrdenesServicio_TipoServicios_TipoServicioId] FOREIGN KEY([TipoServicioId])
REFERENCES [dbo].[TipoServicios] ([Id])
GO
ALTER TABLE [dbo].[OrdenesServicio] CHECK CONSTRAINT [FK_OrdenesServicio_TipoServicios_TipoServicioId]
GO
ALTER TABLE [dbo].[OrdenesServicio]  WITH CHECK ADD  CONSTRAINT [FK_OrdenesServicio_Vehiculos_VehiculoId] FOREIGN KEY([VehiculoId])
REFERENCES [dbo].[Vehiculos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrdenesServicio] CHECK CONSTRAINT [FK_OrdenesServicio_Vehiculos_VehiculoId]
GO
ALTER TABLE [dbo].[OrdenServicio]  WITH CHECK ADD  CONSTRAINT [FK_OrdenServicio_TipoServicio] FOREIGN KEY([TipoServicioId])
REFERENCES [dbo].[TipoServicio] ([Id])
GO
ALTER TABLE [dbo].[OrdenServicio] CHECK CONSTRAINT [FK_OrdenServicio_TipoServicio]
GO
ALTER TABLE [dbo].[OrdenServicio]  WITH CHECK ADD  CONSTRAINT [FK_OrdenServicio_Vehiculo] FOREIGN KEY([VehiculoId])
REFERENCES [dbo].[Vehiculo] ([Id])
GO
ALTER TABLE [dbo].[OrdenServicio] CHECK CONSTRAINT [FK_OrdenServicio_Vehiculo]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculo_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_Vehiculo_Cliente]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Clientes_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Clientes_ClienteId]
GO
ALTER TABLE [dbo].[OrdenServicio]  WITH CHECK ADD  CONSTRAINT [CHK_CostoEstimado] CHECK  (([CostoEstimado]>=(0)))
GO
ALTER TABLE [dbo].[OrdenServicio] CHECK CONSTRAINT [CHK_CostoEstimado]
GO
ALTER TABLE [dbo].[OrdenServicio]  WITH CHECK ADD  CONSTRAINT [CHK_Estado] CHECK  (([Estado]='Cancelado' OR [Estado]='Completado' OR [Estado]='En Proceso' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[OrdenServicio] CHECK CONSTRAINT [CHK_Estado]
GO
ALTER TABLE [dbo].[TipoServicio]  WITH CHECK ADD  CONSTRAINT [CHK_PrecioBase] CHECK  (([PrecioBase]>=(0)))
GO
ALTER TABLE [dbo].[TipoServicio] CHECK CONSTRAINT [CHK_PrecioBase]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [CHK_Anio] CHECK  (([Anio]>=(1900) AND [Anio]<=(datepart(year,getdate())+(1))))
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [CHK_Anio]
GO
USE [master]
GO
